# SUV Predictions

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [3]:
dataset = pd.read_csv('Social_Network_Ads.csv')
dataset.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [4]:
dataset.isnull()

     User ID  Gender    Age  EstimatedSalary  Purchased
0      False   False  False            False      False
1      False   False  False            False      False
2      False   False  False            False      False
3      False   False  False            False      False
4      False   False  False            False      False
5      False   False  False            False      False
6      False   False  False            False      False
7      False   False  False            False      False
8      False   False  False            False      False
9      False   False  False            False      False
10     False   False  False            False      False
11     False   False  False            False      False
12     False   False  False            False      False
13     False   False  False            False      False
14     False   False  False            False      False
15     False   False  False            False      False
16     False   False  False            False      False
17     False   False  False            False      False
18     False   False  False            False      False
19     False   False  False            False      False
20     False   False  False            False      False
21     False   False  False            False      False
22     False   False  False            False      False
23     False   False  False            False      False
24     False   False  False            False      False
25     False   False  False            False      False
26     False   False  False            False      False
27     False   False  False            False      False
28     False   False  False            False      False
29     False   False  False            False      False
..       ...     ...    ...              ...        ...
370    False   False  False            False      False
371    False   False  False            False      False
372    False   False  False            False      False
373    False   False  False            False      False
374    False   False  False            False      False
375    False   False  False            False      False
376    False   False  False            False      False
377    False   False  False            False      False
378    False   False  False            False      False
379    False   False  False            False      False
380    False   False  False            False      False
381    False   False  False            False      False
382    False   False  False            False      False
383    False   False  False            False      False
384    False   False  False            False      False
385    False   False  False            False      False
386    False   False  False            False      False
387    False   False  False            False      False
388    False   False  False            False      False
389    False   False  False            False      False
390    False   False  False            False      False
391    False   False  False            False      False
392    False   False  False            False      False
393    False   False  False            False      False
394    False   False  False            False      False
395    False   False  False            False      False
396    False   False  False            False      False
397    False   False  False            False      False
398    False   False  False            False      False
399    False   False  False            False      False

[400 rows x 5 columns]

In [5]:
dataset.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [6]:
# defining Independent and dependent variables
x = dataset.iloc[:,[2,3]].values
y = dataset.iloc[:,4].values

In [9]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split( x, y, test_size=0.25, random_state=0)
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\Namit\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Namit\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Namit\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [25]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression(random_state=0)
logmodel.fit(X_train, y_train)

C:\Users\Namit\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [26]:
#prediction

predictions = logmodel.predict(X_test)

In [27]:
from sklearn.metrics import classification_report
classification_report(y_test, predictions)

'              precision    recall  f1-score   support\n\n           0       0.89      0.96      0.92        68\n           1       0.89      0.75      0.81        32\n\n   micro avg       0.89      0.89      0.89       100\n   macro avg       0.89      0.85      0.87       100\nweighted avg       0.89      0.89      0.89       100\n'

In [28]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[65,  3],
       [ 8, 24]], dtype=int64)

In [29]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.89